.Rproj.user
.Rhistory
.RData
.Ruserdata
nelthume.rda
DVI_long_1.html
exclusionCase.Rmd
exclusionCase.md
exclusionCase.docx
exclusionCase.log
exclusionCase.tex
README.pdf
man/
data/LA-SERENA-PROJECT.fam
data/different.RData
data/differentMarkers.fam
data/FA-PROJECT-UPDATED.fam
data/FA-PROJECT-UPDATED-reduced.fam
data/LA-SERENA-PROJECT.fam
data/Neltume-Project-3.fam
data/nelthume.rda
figures/unnamed-chunk-1-1.png
figures/unnamed-chunk-2-1.png
README.docx
commands.R
foo.txt
app - Copy.R
helpers - Copy.R
translation.zip